@font-face {
    font-family: Bebas; 
    src: url(../fonts/bebas.ttf);
}
@font-face {
    font-family: HelveticaNeue;
    src: url(../fonts/helvetica_neue.otf);
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    margin: 0 15.4% 0 16.4%;
}
section {
    padding-bottom: 4.5vh;
}


/*----HEADER----*/


header {
    padding-top: 1%;
    height: 8vh;
    font-family: Bebas;
    width: 100%;
}
.logo {
    margin-right: 40%;    
}
.logo,nav {
    display: inline-block;
}
.logo span {
    color: #f3af9d;
}
.logo a {
    font-size: 36px;
    color: #e8603c;
    text-decoration: none;
}
nav {
    left: 0px;
    width: 50%;
    text-align: right;
    vertical-align: 21%;
}
nav a {
    padding-left: 26px;
    text-decoration: none;
    display: inline-block;
    color: #b9b9b9;
}
nav a:visited {
    color: #e8663c;
}



/*----SLIDER----*/


.slider {
    margin-top: 1.7%;
    height: 81vh;
}



/*----FEATURES----*/



.features {
    display: inline-flex;
    justify-content: space-between;
    margin-top: 4.2%;
    margin-bottom: 4.4%;
}
.feature {
    position: relative;  
    width: 32%;
}
.feature img {
    margin-left: 1%;
    display: inline-block;
}
.features_title {
    display: inline-block;
    font-family: Bebas;
    font-size: 2.75vh;
    color: #e8663c;
    vertical-align: top;
    word-spacing: 0.3vh;
}
.connected .features_title {
    margin-left: 3.5vh;
}
.work .features_title {
    margin-left: 2.5vh;
}
.portfolio .features_title {
    margin-left: 3vh;
}
.features_description {
    margin-left: 0.5vh;
    margin-top: 4.6vh;
    line-height: 2.79vh;
    font-family: HelveticaNeue;
    font-size: 1.8vh;
    color: #616161;
    width: 90%;
}
.feature button {
    margin: 6.8% 0 0 0.5%;
    font-family: Bebas;
    font-size: 1.8vh;
    color: white;
    background-color: #e8663c;
    border: none;
    height: 4.8vh;
    width: 8.4vh;
}
.feature button p {
    padding-right: 0.6vh;
    padding-bottom: 0.4vh;
}



/*----RECENT WORKS----*/



.title {
    position: relative;
    font-family: Bebas;
    font-size: 2.75vh;
    color: #e8663c;
}
.title p, .line {
    display: inline-block;
}
.line {
    position: absolute;
    padding-top: 0.2vh;
    right: 0;
}
.items {
    padding-top: 3.5vh;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.items:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.item {
    display: inline-block;
    *display: inline;
    zoom: 1
}
.content {
    margin-top: -1vh;
    border: solid 2px #e9e9e9;
    border-top: none;
}
.content p {
    font-family: Bebas;
    padding-left: 1.6vh;
}
.content p:first-child {
    padding-top: 2vh;
    padding-bottom: 0.5vh;
    color: #bdbdbd;
}
.content p:last-child {
    color: #e9704b;
    font-weight: bold;
    font-size: 1.6vh;
    padding-bottom: 1.3vh;
}



/*----FOOTER----*/



footer {
    position: relative;
    background-color: #e8663c;
    color: white;
    font-family: HelveticaNeue;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    padding: 5.5vh 6vh 2vh 5vh;
}
footer:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.footer_title {
    line-height: normal;
    font-family: Bebas;
    font-size: 3.1vh;
    padding-bottom: 3.4vh
}
.container {
    font-size: 1.8vh;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 40vh;
    line-height: 2.3vh;
}
.about_jetro p:last-child {
    padding-top: 2vh;
}
.info_jetro {
    padding: 2vh 0 2vh 0;
}
.twitter_widget {
    width: 33vh;
}
.container span, .timing {
    color: #f2ad97;
}
.timing {
    padding: 1vh 0 2.3vh 0;
}
.twitter_widget p:last-child {
    padding-top: 1vh;
}
